@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 36px;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.banner {
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 640px) {
  .banner {
    padding: 0 10px;
    height: 111px;
    margin: 10px auto;
  }
}
.banner img {
  position: relative;
  object-fit: cover;
  height: 228px;
  width: 100%;
  border-radius: 15px;
  display: block;
  filter: brightness(80%);
}
@media screen and (max-width: 640px) {
  .banner img {
    height: 111px;
  }
}
.banner p {
  position: absolute;
  font-size: 48px;
  color: white;
}
@media screen and (max-width: 640px) {
  .banner p {
    font-size: 24px;
    text-align: left;
    padding-left: 20px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 40px;
  margin: 40px 0;
}
@media screen and (max-width: 640px) {
  .list {
    margin: 0 auto;
    padding: 20px 10px;
    background-color: transparent;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.cards {
  height: 340px;
  width: 340px;
  display: flex;
  cursor: pointer;
  align-items: end;
  background-color: linear-gradient(#FF6060, black);
}
@media screen and (max-width: 640px) {
  .cards {
    height: 255px;
    width: 335px;
  }
}
.cards img {
  position: relative;
  object-fit: cover;
  height: 340px;
  width: 340px;
  border-radius: 15px;
  display: block;
  filter: brightness(80%);
}
@media screen and (max-width: 640px) {
  .cards img {
    height: 255px;
    width: 335px;
  }
}
.cards span {
  position: absolute;
  color: white;
  width: 180px;
  padding: 15px;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow .slideshow-img {
  border-radius: 15px;
  height: 415px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
@media screen and (max-width: 640px) {
  .slideshow .slideshow-img {
    height: 255px;
    padding: 10px;
  }
}
.slideshow .arrow-left {
  position: absolute;
  height: 100px;
  z-index: 1;
  left: 20px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .slideshow .arrow-left {
    height: 25px;
  }
}
.slideshow .arrow-right {
  position: absolute;
  height: 100px;
  z-index: 1;
  right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .slideshow .arrow-right {
    height: 25px;
  }
}
.slideshow .number-slides {
  font-size: 18px;
  padding-bottom: 20px;
  align-self: end;
  position: absolute;
  z-index: 1;
  color: white;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.info-line1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title host" "tag rate";
}
@media screen and (max-width: 640px) {
  .info-line1 {
    padding-top: 10px;
    grid-template-areas: "title title" "tag tag" "rate host";
    padding-bottom: 30px;
  }
}

.info-line2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 25px 0;
}
@media screen and (max-width: 640px) {
  .info-line2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.title {
  display: flex;
  flex-direction: column;
  grid-area: title;
}
.title_content {
  color: #FF6060;
  padding: 20px 0;
}
@media screen and (max-width: 640px) {
  .title_content {
    padding: 0 10px;
  }
}
.title_content h1 {
  padding: 5px 0;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .title_content h1 {
    font-size: 24px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.host {
  display: flex;
  width: 167px;
  align-items: center;
  gap: 10px;
  text-align: right;
  justify-self: end;
  grid-area: host;
}
@media screen and (max-width: 640px) {
  .host {
    justify-content: end;
    padding-right: 10px;
  }
}
.host img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
@media screen and (max-width: 640px) {
  .host img {
    width: 32px;
    height: 32px;
  }
}
.host p {
  color: #FF6060;
}
@media screen and (max-width: 640px) {
  .host p {
    font-size: 12px;
    width: 30%;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.tag {
  display: flex;
  gap: 10px;
  align-items: center;
  grid-area: tag;
}
@media screen and (max-width: 640px) {
  .tag {
    padding: 10px;
  }
}
.tag .tags {
  background-color: #FF6060;
  padding: 3px 35px;
  text-align: center;
  color: white;
  border-radius: 10px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .tag .tags {
    font-size: 10px;
    padding: 3px 20px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.rate {
  font-size: 24px;
  display: flex;
  justify-self: end;
  align-items: center;
  grid-area: rate;
}
@media screen and (max-width: 640px) {
  .rate {
    font-size: 16px;
    padding: 0 10px;
    justify-self: left;
  }
}
.rate .rate-full {
  color: #FF6060;
  padding: 0 5px;
}
@media screen and (max-width: 640px) {
  .rate .rate-full {
    padding: 0 3px;
  }
}
.rate .rate-empty {
  color: #E3E3E3;
  padding: 0 5px;
}
@media screen and (max-width: 640px) {
  .rate .rate-empty {
    ppadding: 0 3px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.collapse {
  padding: 10px 0;
}
.collapse_title {
  background-color: #FF6060;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .collapse_title {
    font-size: 13px;
    padding: 5px 10px;
  }
}
.collapse_text {
  font-size: 14px;
  color: #FF6060;
  background-color: #f6f6f6;
  border-radius: 0 0 10px 10px;
  padding: 30px 20px 20px 20px;
  position: relative;
  top: -10px;
  z-index: -1;
}
.collapse_arrow {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .collapse_arrow {
    height: 20px;
    width: 20px;
  }
}
.collapse_open {
  display: block;
  opacity: 1;
  animation: FadeIn 500ms;
}
.collapse_close {
  opacity: 0;
  animation: FadeOut 500ms;
  height: 0;
}

.rotate {
  transform: rotate(-180deg);
  transition: 500ms;
}

.rotate2 {
  transform: rotate(deg);
  transition: 500ms;
}

.collapse-housing_equipment {
  list-style-type: none;
}

.collapse-about {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}
@media screen and (max-width: 640px) {
  .collapse-about {
    width: 100%;
    padding: 10px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.footer {
  position: absolute;
  left: 0;
  height: 210px;
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 70px 0 15px 0;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 50px 0 20px 0;
    height: 209px;
  }
}
.footer img {
  height: 40px;
  width: 122px;
}
.footer p {
  padding-top: 40px;
  color: white;
  font-size: 24px;
}
@media screen and (max-width: 640px) {
  .footer p {
    font-size: 12px;
    padding-top: 10px;
    width: 40%;
    margin: 0 auto;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.header {
  padding: 45px 0 50px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .header {
    padding: 10px;
  }
}

.logo {
  height: 68px;
  width: 210px;
  margin-bottom: 2px;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 145px;
    height: 45px;
  }
}
.logo img {
  display: block;
  margin: auto;
  padding-top: 10px;
}

.navbar {
  padding-top: 25px;
  color: #FF6060;
}
.navbar a {
  padding-left: 57px;
  font-size: 24px;
}
@media screen and (max-width: 640px) {
  .navbar a {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 10px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.notfound {
  text-align: center;
  color: #FF6060;
  padding: 70px 0;
}
.notfound h2 {
  padding: 40px 0 100px 0;
  font-size: 36px;
}
@media screen and (max-width: 640px) {
  .notfound h2 {
    font-size: 18px;
  }
}
.notfound a {
  font-size: 18px;
  text-decoration: underline;
}
@media screen and (max-width: 640px) {
  .notfound a {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .notfound img {
    width: 200px;
    height: 100px;
  }
}

/*# sourceMappingURL=app.css.map */
