@use "../utils/" as *;


.collapse {
   
    &_title {
        background-color: $primary-color;
        border-radius: 10px;
        padding: 10px;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
           font-size: 13px;
           padding: 5px;
         }
    }
    &_text {         
        font-size: 14px;
        color: $primary-color;
        background-color: #f6f6f6;
        border-radius: 0 0 10px 10px;
        padding: 30px 20px 20px 20px;
        position: relative;
        top: -10px;
        z-index: -1;
    }
    &_arrow {
        cursor: pointer;         
    }
    &_open {         
        display: block;
        opacity: 1;
        animation : FadeIn 500ms;    
    }
    &_close {   
        opacity: 0; 
        animation: FadeOut 500ms;
        height: 0;
    }
}

.rotate {
    transform: rotate(-180deg);
    transition: 500ms;
}
.rotate2 {
    transform: rotate(deg);
    transition: 500ms;
}

.collapse-housing {    
    
    &_equipment {
        list-style-type: none;
    }
}
.collapse-about {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    @include mobile {
        width: 100%;
        padding: 10px;
    }
}