@use "../utils/" as *;

.host {
    display: flex;
    width: 167px;
    align-items: center;
    gap: 10px;
    text-align: right;
    justify-self: end;    
    grid-area: host;
    @include mobile {
        justify-content: end;
        padding-right: 10px;
    }
    img {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        @include mobile {
            width: 32px;
            height: 32px;
        }
    }
    p {
        color: $primary-color;
        @include mobile {
            font-size: 12px;
            width: 30%;
        }
    }
}