@use "../utils/" as *;

.info-line1 {  
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-areas: 
    "title host"
    "tag rate";
    
    @include mobile {
        padding-top: 10px;
        grid-template-areas: 
        "title title"
        "tag tag"
        "rate host";
        padding-bottom: 30px;
    }  
}

.info-line2 {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 50px;
    padding: 25px 0;
    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }
}