@use "../utils/" as *;

.rate {   
    font-size: 24px;
    display: flex;
    justify-self: end;   
    align-items: center; 
    grid-area: rate;
    @include mobile {
        font-size: 16px;
        padding: 0 10px;
        justify-self: left;
       
    }
    .rate-full {
        color: $primary-color;
        padding: 0 5px;
        @include mobile {
            padding: 0 3px;
        }
    }
    .rate-empty {
        color: #E3E3E3;
        padding: 0 5px;
        @include mobile {
            ppadding: 0 3px;
        }
    }
}