@use "../utils/" as *;

.slideshow {
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;    
    .slideshow-img {
        border-radius: 15px;
        height: 415px;
        width: 100%;
        object-fit: cover;    
        z-index: -1;
        @include mobile {
            height: 255px;
            padding: 10px;
        }
    }
    .arrow-left {
        position: absolute;
        height: 100px;
        z-index: 1; 
        left: 20px;
        cursor: pointer;
        @include mobile {
            height: 25px;
        }
    }
    .arrow-right {
        position: absolute;
        height: 100px;
        z-index: 1;
        right: 20px;
        cursor: pointer;
        @include mobile {
            height: 25px;
        }
    }
    .number-slides {
        font-size: 18px;
        padding-bottom: 20px;
        align-self: end;
        position: absolute;
        z-index: 1;
        color: white;
    }
}


