@use "../utils/" as *;

.tag {
    display : flex;
    gap: 10px;
    align-items: center; 
    grid-area: tag;
    @include mobile {
        padding: 10px;
        
        
    }
    .tags {
        background-color: $primary-color;
        padding: 3px 35px;
        text-align: center;
        color: white;
        border-radius: 10px;
        list-style-type: none;
        font-size: 14px;
        font-weight: 300;
        @include mobile {
            font-size: 10px;
            padding: 3px 20px;
        }
    }
}
