@use "../utils/" as *;

.title {
    color: $primary-color;
    padding: 20px 0;
    @include mobile {
        padding: 0 10px;
    }
    h1 {
        padding: 10px 0;
        font-weight: 400;
        @include mobile {
            font-size: 24px;
        }
    }
}